{% extends 'base.html.twig' %}

{% block title %}Edit Post{% endblock %}

{% block body %}
    <div class="center">
        <h1>Edit Post</h1>

        <div class="form">
            {{ form_start(form) }}
            <div>{{ form_errors(form) }}</div>
            <div class="form-input-group">
                {{ form_label(form.title, 'Title to update') }}
                {{ form_widget(form.title) }}
            </div>
            <div class="form-input-group">
                {{ form_label(form.text, 'Edit your post here') }}
                {{ form_widget(form.text) }}
            </div>
            <div class="form-button-group">
                <a class="link" href="{{ url('app_micro_post_index') }}">Cancel</a>
                {{ form_widget(form.save, {'attr': {'class': 'btn'}}) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
