{% extends 'base.html.twig' %}

{% block title %}Post | Edit{% endblock %}

{% block bread %} > Edit Post {% endblock %}

{% block body %}
    <main>
        {% set labelClass = 'block text-sm text-gray-700 dark:text-gray-300 font-medium' %}
        {% set textInputClass = 'block w-full rounded-md shadow-sm border-gray-300 border dark:border-transparent dark:text-gray-800 p-2 mt-1 mb-2' %}
        {% set cancelLinkClass = 'block w-32 rounded-full transition  shadow-sm align-center text-center border border-transparent hover:border-inherit hover:border shadow-sm underline p-2 mt-4 mb-2' %}
        {% set submitButtonClass = 'block w-32 rounded-full transition  shadow-sm border-transparent bg-indigo-600 hover:indigo-700 dark:bg-indigo-500 dark:hover:bg-indigo-400 text-white border p-2 mt-4 mb-2' %}
        {% set optionsContainer = 'flex justify-end gap-4' %}
        {{ form_start(form) }}
        <div>{{ form_errors(form) }}</div>
        <div>
            {{ form_label(form.title, 'Please enter the title', {'label_attr' : {'class': labelClass}}) }}
            {{ form_widget(form.title, {'attr': {'class': textInputClass}}) }}
            {{ form_errors(form.title) }}
        </div>
        <div>
            {{ form_label(form.text, 'Write your post here', {'label_attr' : {'class': labelClass}}) }}
            {{ form_widget(form.text, {'attr': {'class': textInputClass}}) }}
            {{ form_errors(form.text) }}
        </div>
        <div class="{{ optionsContainer }}">
            <a class="{{ cancelLinkClass }}" href="{{ path('app_micro_post_show', {id: microPost.id()}) }}">Cancel</a>
            {{ form_widget(form.save, {'attr': {'class': submitButtonClass }}) }}
        </div>
        {{ form_end(form) }}
    </main>
{% endblock %}
