{% extends 'base.html.twig' %}

{% block title %}Posts{% endblock %}

{% block body %}
    {% set cardGridClass = 'grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 2xl:grid-cols-3 gap-8' %}
    {% set cardClass = 'shadow-xl dark:bg-gray-900 rounded-md p-8 flex flex-col space-y-4' %}
    <main class="mt-8">
        {% if is_granted('ROLE_ADMIN') %}
            <div class="pb-8 flex justify-center text-center">
                <a class="block w-full rounded-full transition shadow-sm border-transparent bg-indigo-600 hover:indigo-700 dark:bg-indigo-500 dark:hover:bg-indigo-400 text-white border p-2 mt-4 mb-2"
                   href='{{ path('app_micro_post_new') }}'>Make A New Post</a>
            </div>
        {% endif %}
        <div class="{{ cardGridClass }}">
            {% for microPost in microPosts %}
                <div class="{{ cardClass }}">
                    {{ include('micro_post/_post.html.twig', { microPost: microPost}) }}
                </div>
            {% else %}
                <div>
                    <p>Hey! There aren't any posts here!</p>
                </div>
            {% endfor %}
        </div>
        <div class="mt-16 mb-16 flex justify-between">
            <div class="text-4xl opacity-100 transition ease-in-out  hover:opacity-60">
                {% if hasPrev %}
                    <a href="{{ path('app_micro_post_index.1', { page: page - 1 }) }}">Prev</a>
                {% endif %}
            </div>
            <div class="text-4xl opacity-100 transition ease-in-out  hover:opacity-60">
                {% if hasNext %}
                    <a href="{{ path('app_micro_post_index.1', { page: page + 1 }) }}">Next</a>
                {% endif %}
            </div>
        </div>
    </main>
{% endblock %}
