{% extends 'base.html.twig' %}

{% block title %}Post ✅{% endblock %}

{% block body %}
    <div class="center">
        <h1 style="padding-top: 1rem; padding-bottom: 1rem;">Hello!</h1>
        <div style="display: flex; align-items: flex-start; justify-content: flex-end; padding-bottom: 1.5rem;"><a
                    href='{{ url('app_micro_post_new') }}'>Make A
                New Post</a></div>
        <div class="micro-posts">
            <div class="micro-posts-body">
                {% for microPost in microPosts %}
                    <div class="micro-post">
                        <div class="card-title">
                            <a href="{{ url('app_micro_post_show', { id : microPost.id() }) }}">{{ microPost.title() }}</a>
                            | {{ microPost.created().format('Y-m-d') }}
                        </div>
                        <div class="card-body">
                            {{ microPost.text() }}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="micro-posts-footer">
                <div class="micro-posts-page-prev">
                    {% if hasPrev %}
                        <a href="{{ url('app_micro_post_index.1', { page: page - 1 }) }}">Prev</a>
                    {% endif %}
                </div>
                <div class="micro-posts-page-next">
                    {% if hasNext %}
                        <a href="{{ url('app_micro_post_index.1', { page: page + 1 }) }}">Next</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
