{% extends 'base.html.twig' %}

{% block title %}Post | {{ microPost.title|truncate(20, '...') }} {% endblock %}

{% block bread %} > {{ microPost.title|truncate(20, '...') }}{% endblock %}

{% block body %}
    <main>
        {% set labelClass = 'block text-sm text-gray-700 dark:text-gray-300 font-medium' %}
        {% set textInputClass = 'block w-full rounded-md shadow-sm border-gray-300 border dark:border-transparent dark:text-gray-800 p-2 mt-1 mb-2' %}
        {% set cancelLinkClass = 'block w-32 rounded-full transition  shadow-sm align-center text-center border border-transparent hover:border-inherit hover:border shadow-sm underline p-2 mt-4 mb-2' %}
        {% set submitButtonClass = 'block w-32 rounded-full transition  shadow-sm border-transparent bg-indigo-600 hover:indigo-700 dark:bg-indigo-500 dark:hover:bg-indigo-400 text-white border p-2 mt-4 mb-2' %}
        {% set optionsContainer = 'flex justify-end gap-4' %}
        {% set dataCountClass = 'px-2 rounded-lg bg-gray-200 dark:bg-gray-700' %}
        {% set optionClass = 'mr-2 transition hover:border-b-2 hover:border-indigo-700 dark:hover:border-indigo-400 border-b-2 border-b-transparent' %}
        <div class="flex flex-col justify-center space-y-4">
            <div class="text-4xl text-center opacity-100 transition ease-in-out  hover:opacity-60">
                <a href="{{ path('app_micro_post_show', { id : microPost.id }) }}">{{ microPost.title }}</a>
            </div>
            <div class="mb-4 text-center text-gray-300">
                <a href="#">{{ microPost.author.email }}</a>
            </div>
            <div class="text-2xl dark:text-gray-400">
                {{ microPost.text }}
            </div>
            <div class="flex flex-row justify-between object-bottom">
                <div class="text-gray-500 dark:text-gray-400">
                    {{ microPost.created.format('M d, Y') }}
                </div>
                <div>
                </div>
            </div>
            <div class="flex flex-row justify-start gap-4 mt-8">
                {% if is_granted('ROLE_EDITOR') %}
                    <a class="{{ optionClass }}" href="{{ path('app_micro_post_edit', {id: microPost.id}) }}">Edit</a>
                {% endif %}
                {% if is_granted('ROLE_COMMENTER') %}
                    <a class="{{ optionClass }}" href="{{ path('app_micro_post_comment_new', {id: microPost.id}) }}">Comment
                        <span class="{{ dataCountClass }}">{{ microPost.comments|length }}</span>
                    </a>
                {% endif %}
                <a class="{{ optionClass }}" href="#">Like <span class="{{ dataCountClass }}">0</span></a>
            </div>
            <div class="mt-4">
                {% for comment in microPost.comments %}
                    <div>
                        <div class="flex items-center">
                            <div class="inline-block bg-gray-200 dark:bg-gray-700 rounded-full text-3xl w-8 h-8 ring-2 ring-white dark:ring-gray-600 mr-2">
                            </div>
                            <div>
                                <div class="font-medium text-gray-800 dark:text-gray-300">{{ comment.author.email }}</div>
                                <div class="font-light text-gray-500 dark:text-gray-500">{{ comment.created.format('M d, Y') }}</div>
                            </div>
                        </div>
                        <div class="flex">
                            <div class="border border-gray-300 dark:border-gray-600 ml-4 mr-6 pb-8 pt-8 last:pb-4"></div>
                            <div>{{ comment.text }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}
