{% extends 'base.html.twig' %}

{% block title %}{{ microPost.title() }}{% endblock %}

{% block body %}
    <div class="center">
        <h1 style="padding-top: 1rem; padding-bottom: 1rem;">Post #{{ microPost.id() }}</h1>
        <div style="display: flex; align-items: flex-start; justify-content: flex-start; padding-bottom: 1.5rem;">
            <a href='{{ url('app_micro_post_index') }}'>Go Back To Posts</a></div>
        <div style="margin-bottom: 2rem; padding: 2rem; border: 1px solid black; box-shadow: 1px 4px 3px rgba(0, 0, 0, 0.15)">
            <p style="font-size: 1.5rem;">{{ microPost.title() }}</p>
            <p style="margin-left: 1.5rem;">{{ microPost.text() }}</p>
        </div>
        <div style="display: flex; align-items: flex-start; justify-content: flex-end;">
            <a style='margin-right: 0.5rem;'
               href="{{ url('app_micro_post_edit', {'id': microPost.id() }) }}">Edit
                Post</a>
            <a style='margin-left: 0.5rem;'
               href="{{ url('app_micro_post_comment_new', {'id': microPost.id() }) }}">Add Comment</a>
        </div>
    </div>
{% endblock %}
